.inputWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 1rem;
    align-items: center;
    border: 2px solid var(--shadow-fg);
    border-radius: 8px;
    height: 3.5rem;
    width: 20.625rem;
}

/* .inputWrapper+.inputWrapper {
    margin-top: 2.25rem;
} */

.inputWrapper>input {
    width: 100%;
    height: 100%;
    border: 0;
    background-color: transparent;
    font-size: var(--size-s);
    line-height: var(--size-ll);
}

.inputWrapper:has(> input:-webkit-autofill),
.inputWrapper> input:-webkit-autofill {
    background-color: #f0f4fc;
    -webkit-box-shadow: 0 0 0 1000px #f0f4fc inset !important;
    box-shadow: 0 0 0 1000px  #f0f4fc inset !important;
}

.inputWrapper>label {
    color: var(--bg);
    font-size: var(--size-s);
    line-height: var(--size-ll);
    position: absolute;
    pointer-events: none;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
    padding: 0 0.1rem;
}

.inputWrapper:has(> input:-webkit-autofill)>label,
.inputWrapper:has(> input:focus)>label,
.inputWrapper:has(> input:not(:placeholder-shown))>label {
    margin-top: -3.5rem;
    background: var(--fg);
    font-size: var(--size-ss);
    line-height: var(--size-s);
}

.inputWrapper:has(> input:focus)>label {
    color: var(--font-color);
}

.inputWrapper:has(> input:focus) {
    border-color: var(--blue200);
}

.showPass {
    height: 2.5rem;
    width: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 0.25rem;
    cursor: pointer;
    z-index: 1;
}

.showPass>img {
    height: 1.5rem;
}

/* .error {
    border-color: var(--red300);
} */